









@media only screen and (max-width: 600px) {
    .btnCreate {
        background: #FDFDFE;

        border: 1px solid #ADCDEA;
        border-radius: 8px;
        color:#00517D;
    }
    .btnCreate:hover{
        background: #FDFDFE;

        border: 1px solid #ADCDEA;
        border-radius: 8px;
        color:#00517D;
    }
    .title_1{
        color: white !important;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 30px;
    }
    
    .table_data2 thead th ,.table_data2 tbody tr td {
        font-size: 12px;
        color: white;
        text-transform: uppercase;
        border: none;
        font-weight: 600;
        vertical-align: top;
        padding: 15px 40px;
        padding-right: 10px;
    }
    
    
    .tr_shadow {
        box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 3%);
    }
    
    .page_content {
        /* margin-left: 235px; */
        margin-top: 130px;
        min-height: 100vh;
    }
    
    .pull_right{
        float: right;
        /* margin-right: 10px; */
    }
    
    .thead th {
        /* color: #fff !important;
        background-color: #212529 !important; */
        background-color:   rgb(0, 81, 125) !important;
        border-color:  rgb(0, 81, 125) !important;
      }
    

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


    .page_content {
        /* margin-left: 235px !important; */
        margin-top: 130px;
        min-height: 100vh;
    }
    
    .btnCreate {
        background: #FDFDFE;

        border: 1px solid #ADCDEA;
        border-radius: 8px;
        color:#00517D;
    }
    .btnCreate:hover{
        background: #FDFDFE;

        border: 1px solid #ADCDEA;
        border-radius: 8px;
        color:#00517D;
    }
    
    .title_1{
        color: #333333 !important;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 30px;
    }
    
    .table_data2 thead th ,.table_data2 tbody tr td {
        font-size: 12px;
        color: white;
        text-transform: uppercase;
        border: none;
        font-weight: 600;
        vertical-align: top;
        padding: 15px 40px;
        padding-right: 10px;
    }
    
    
    .tr_shadow {
        box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 3%);
    }
    
    .tr_subShadow{
        box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 3%);
        background-color: #e9e4e4;
    }
    
    .uList{
        list-style: none;
    }
    
    .uList div{
        background: #ffffff;
        padding: 20px;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.625;
        color:  rgb(0, 81, 125);
    }
    
    .text_creat{
        color:  rgb(0, 81, 125) !important;
    }
    
    .pull_right{
        float: right;
        /* margin-right: 10px; */
    }
    
    .thead th {
        /* color: #fff !important;
        background-color: #212529 !important; */
        background-color:  rgb(174, 174, 174) !important;
        border-color:  rgb(0, 81, 125)!important;
      }
    
    .item {
        background: #FFFFFF !important;
    }
    
    
}





/* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    


    .page_content {
        margin-left: 235px !important;
        margin-top: 130px;
        min-height: 100vh;
    }
    
    .btnCreate {
        background: #FDFDFE;

        border: 1px solid #ADCDEA;
        border-radius: 8px;
        color:#00517D;
    }
    .btnCreate:hover{
        background: #FDFDFE;

        border: 1px solid #ADCDEA;
        border-radius: 8px;
        color:#00517D;
    }
    
    .title_1{
        color: white!important;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 30px;
    }
    
    .table_data2 thead th ,.table_data2 tbody tr td {
        font-size: 12px;
        color: rgb(0, 81, 125);
        text-transform: uppercase;
        border: none;
        font-weight: 600;
        vertical-align: top;
        padding: 15px 40px;
        padding-right: 10px;
    }
    
    
    .tr_shadow {
        box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 3%);
    }
    
    .tr_subShadow{
        box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 3%);
        background-color: #e9e4e4;
    }
    
    .uList{
        list-style: none;
    }
    
    .uList div{
        background: #ffffff;
        padding: 20px;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.625;
        color: #666;
    }
    
    /* .text_creat{
        color:  white !important;
    } */
    
    .pull_right{
        float: right;
        
    }
    
    .thead th {
        
        background-color:   rgb(0, 81, 125)!important;
        border-color:  rgb(0, 81, 125) !important;
        color: white;
      }
    
    .item {
        background: #FFFFFF !important;
    }

}