@media only screen and (max-width: 600px){
    .contain{
        width:80%;
        margin: auto;
    }
    .pull_left {
        float: left;
    }
    
    .btnCreate {
        background-color: rgb(0, 81, 125)!important;
        color: #ffffff !important;
    }
    
    
    .page_content strong,option{
            color: var(--country) !important
    }
    
    
    .create_accont{
        border: 2px solid #ddd;
        padding: 1rem;
        margin: 1rem;
        border-radius: 8px;
    }
    
    .create_accont:hover{
        border-color:  rgb(0, 81, 125);
    }
    .pull_right{
        float: right;
    }
}
@media only screen and (min-width: 992px) {
    .contain{
        width:30%;
        margin: auto;
    }
    .pull_left {
        float: left;
    }
    
    .btnCreate {
        background-color: rgb(0, 81, 125)!important;
        color: #ffffff !important;
    }
    
    
    .page_content strong,option{
            color: var(--country) !important
    }
    
    
    .create_accont{
        border: 2px solid #ddd;
        padding: 1rem;
        margin: 1rem;
        border-radius: 8px;
    }
    
    .create_accont:hover{
        border-color:  rgb(0, 81, 125);
    }
    .pull_right{
        float: right;
    }
}
